body {
	 background: #FFFFFF;
	 margin: 2rem;
 }
 
 /* navbar */
 .navbar {
   background-color: #FFFFFF;
 }
  
 /* poster */
 .poster {
   width: 100%;
   height: 30rem;
   background: center center no-repeat;
   background-size: cover;
 }

 /* phone */
.phone {
	font-weight: 600;
	font-size: 1rem;
	color: #704214;
}

