body {
	 background: #FFFFFF;
	 margin: 2rem;
 }
 
 /* navbar */
 .navbar {
   background-color: #FFFFFF;
 }
 
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ff5500;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
 
/* 
.navbar-secondary .nav-item a,
.navbar-secondary .nav-item a:active,
.navbar-secondary .nav-item a:visited,
.navbar-secondary .nav-item a:hover,
.navbar-secondary .nav-item a:focus,
.navbar-secondary .nav-item .active .nav-link > a,
.navbar-secondary .nav-item .active > a:active,
.navbar-secondary .nav-item .active > a:visited,
.navbar-secondary .nav-item .active > a:hover,
.navbar-secondary .nav-item .active > a:focus
*/

/*.navbar-secondary .nav-item > a:hover, 
.navbar-secondary .nav-item > a:focus,
.navbar-secondary .nav-item > .active > a,
.navbar-secondary .nav-item > .active > a:hover,
.navbar-secondary .nav-item > .active > a:focus*/

  
 
 
 
 
 /* phone */
.phone {
	font-weight: 600;
	font-size: 1rem;
	color: #704214;
}

